obj/**
.cache/**
src/defs/syscalls.def
dependencies/**
build-*/**
*.log
DriverTests.cmake
compile_commands.json
build*/**
*build*/**
dev-dep/
autocomplete.sh
build_meta.json
__pycache__
test-dep/
.vscode/launch.json
prompts/
